<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    <ul>
        <li> List Items
            <ul>
                <li> <a href="#">Sublist item</a></li>
                <li> <a href="#">Sublist item</a></li>
                <li> <a href="#">Sublist item</a></li>
                <li> <a href="#">Sublist item</a></li>
            </ul>
        </li>
        <li>
            List Items
            <ul>
                <li> <a href="#">Sublist item</a></li>
            </ul>
        </li>
        <li>
            List Items
            <ul>
                <li> <a href="#">Sublist item</a></li>
                <li> <a href="#">Sublist item</a></li>
            </ul>
        </li>
        <li>
            List Items
            <ul>
                <li> <a href="#">Sublist item</a></li>
                <li> <a href="#">Sublist item</a></li>
                <li> <a href="#">Sublist item</a></li>
                <li> <a href="#">Sublist item</a></li>
                <li> <a href="#">Sublist item</a></li>
                <li> <a href="#">Sublist item</a></li>

            </ul>
        </li>
    </ul>
</body>
</html>
