<div id="login-form">
    <div id="login">
        <label for="user-username-input"> Enter your username: </label>
        <input type="text" id="user-username-input" required="required"/>

        <label for="user-password-input"> Enter your password: </label>
        <input type="text" id="user-password-input" required="required"/>

        <a href="#/crowd-share" id="login-button"> Log in </a>

        <div id="invalid-username-or-password"></div>
    </div>


    <div id="havent-got-account">
        <p> You did not have a registration yet - click the button below. : )</p>
        <button id="go-to-register-button"> Create new account.</button>
    </div>

    <button id="not-logged-get-all-posts-button"> Show all posts.</button>
    <button id="not-logged-hide-all-posts-button"> Hide all posts.</button>
    <div id="not-logged-user-posts-container"></div>
</div>